.login {
  text-align: center;
  height: 100vh;
  justify-content: center;
  padding-top: 18%;
  border: none;
  background-image: url("https://images.pexels.com/photos/925743/pexels-photo-925743.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  max-width: auto;
}
.box {
  border: 1px solid #747474;
  background-color: rgb(196, 46, 46);
  border-radius: 20px;
  max-width: 640px;
  min-height: 20vh;
}
